[Unit]
Description=Discord Fun

[Service]
Type=simple
User=dbots
Restart=always
WorkingDirectory=/home/dbots/discord_hello_bot
ExecStart=/home/dbots/discord_hello_bot/fun.bash

[Install]
WantedBy=multi-user.target
